@{ 
    ViewData["Title"] = "About";
}

<h2>About Rate My Professional</h2>

<h6>Mission Statement</h6>
<p>Our mission is to streamline the connection between customers and service
    professionals in their area from one convenient and reliable source,
    to greatly decrease the effort customers have to go through to find a 
    reputable professional that will complete the work asked of them to the
    customer's satisfaction.</p>

<h6>Vision Statement</h6>
<p>This application solves the problem of time for customers to find the right
    professional for their issue, by allowing the user to search for a reputable
    professional in the area in a convenient way for both the customer and the
    professional. The application helps give professionals a platform in which
    to give their name and business to spread and grow while giving customers
    a refined and easy search for what they need.</p>
