@{
    ViewData["Title"] = "Contact";
}

<h3>Contact us at Rate My Professional</h3>

<p>For support: <a href="Contact">support@ratemyprofessional.com</a></p>
<p>For career opportunities: <a href="Contact">careers@ratemyprofessional.com</a></p>
<p>For advertising and other business opportunities: <a href="Contact">other@ratemyprofessional.com</a></p>
