@{
    ViewData["Title"] = "Index";
}

<!--<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>-->
<h2>Index</h2>

<p>Hello from our View Template!</p>
<a href="/Professionals"><button>Search Professional</button></a>