@{
    ViewData["Title"] = "Index";
}

<!--<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>-->
<h1>Welcome to Rate My Professional</h1>

<h4>Connecting customers to qualified, reputable professionals since 2019!</h4>
<h5>Looking to hire a professional? <a href="/Professionals">Start searching the database!</a></h5>
<p>Rate My Professional can help you find a professional in your area that you know you can trust!
    Whether you need a babysitter, a plumber, or someone to mow your lawn, you can search our database
    to find the right person for the job. Stop overpaying for sketchy professionals!</p>

<h5>Are you a professional looking to advertise your services?
    <a href="/Identity/Account/Register">Create an account!</a></h5>
<p>If you're looking to expand your business, Rate My Professional can help get your name out there
    to thousands of potential new customers. Build your reputation and start earning more money
    today by signing up to join our database!</p>