@{
    ViewData["Title"] = "Index";
}

<!--<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>-->
<h1>Welcome to Rate My Professional</h1>


<!--Trying to make a Carousel of Pictures-->

@*<div class="item">
        <img src="https://www.pexels.com/photo/person-holding-pencil-1388944.jpeg" alt="Chicago">
    </div>


    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="floor-flooring-hand-man-1388944.jpeg" alt="Los Angeles">
            </div>

            <div class="item">
                <img src="pexels-photo-1249611.jpeg" alt="Chicago">
            </div>

            @*<div class="item">
                    <img src="ny.jpg" alt="New York">
                </div>
    </div>

<!-- Left and right controls -->
<a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
</a>
<a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
</a>
</div>*@

<h4>Connecting customers to qualified, reputable professionals since 2019!</h4>
<h5>Looking to hire a professional? <a href="/Professionals">Start searching the database!</a></h5>
<p>
    Rate My Professional can help you find a professional in your area that you know you can trust!
    Whether you need a babysitter, a plumber, or someone to mow your lawn, you can search our database
    to find the right person for the job. Stop overpaying for sketchy professionals!
</p>

<h5>
    Are you a professional looking to advertise your services?
    <a href="/Identity/Account/Register">Create an account!</a>
</h5>
<p>
    If you're looking to expand your business, Rate My Professional can help get your name out there
    to thousands of potential new customers. Build your reputation and start earning more money
    today by signing up to join our database!
</p>