@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This is the privacy policy ("Privacy Policy") describing
    our privacry practices for the ratemyprofessional.com website,
    applications and other interactive services ("Site") "we," "us,"
    or "our"). The Site is owned, operated and/or provided to by
    Team 1 ("we", "us," or "our"). This Privacy Policy is intened
    to explain our privacy practices and covers the following areas:</p>

<h6>When This Privacy Policy Applies</h6>

<li>Regardless of whether you are accessing the Site via a personal computer,
    a mobile device or any other technology or devices now known
    or hereafter developed or discovered (each, a "Device");</li>
<li>Whether you are accessing the Site as a registered user (if offered
    by the Site) or other user of the Site;</li>
<li>To all Information (as that term is defined below) collected
    by the Site;</li>
<li>To our use of combined information if we combine Information collected
    by the Site with other information we collect from other sources,
    such as information recieved from Team 1 (for example, information
    collected at a physical location), marketing companies, or Advertisers; and</li>
<li>Will remain in full force and effect even if your use of or participation in the Site
    or any particular service, feature, function or promotional activity
    offered through the Site terminates, expires, ceases, is suspended,
    is suspended or deactivated for any reason.</li>
<p>This Privacy Policy does not, unless specifically stated, apply to any
    Information collected by any other company or collected in any
    other manner or by any other website, application or other interactive
    service offered by Team 1.</p>
<p>By participating in this Site or any features, activities or services
    offered through the Site, you consent to our privacy practices as 
    described in this Privacy Policy.</p>
<p>Certain products or services offered by this Site may be subject to additional
    privacy practices, such as practices on how Information is collected, used
    shared, and/or disclosed by such produces or services and/or how you may exercie
    choice with regard to such Information ("Additional Privacy Statements").
    These Additional Privacy Statements, if any, shall be provided to you
    in conjunction with thos eproducts and services and are hereby incorporated
    in this Privacy Policy by reference. To the extend that there is a conflict between
    this Privacy Policy and the Aditional Privacy Statement for the activity in
    which you choose to participate, the Additional Privacy Statement shall govern.</p>
