@{
    ViewData["Title"] = "Terms";
}

<h3>Terms and Conditions</h3>

<p>THESE TERMS OF USE CONTAIN AN ARBITRATION CLAUSE AND A CLASS ACTION WAIVER
    CLAUSE, BY USING THIS SITE, YOU ARE ACCEPTING THE TERMS OF USE AND WHILE
    YOU MAY STILL PURSUE CLAIMS AGAINST US, WITH A FEW EXCEPTIONS (FOR EXAMPLE,
    IF YOU SUBMIT A VALID ARBITRATION/CLASS ACTION WAIVER OPT-OUT NOTICE AS
    DESCRIBED IN SECTION 19.5 BELOW), YOU ARE AGREEING THAT YOU MUST PURSUE
    YOUR CLAIMS IN A BINDING ARBITRATION PROCEEDING (AND NOT IN A COURT) AND
    ONLY ON AN INDIVIDUAL (AND NOT A CLASS ACTION) BASIS.</p>
    

<p>This is the official Terms of Use Agreement("Agreement") for the RateMyProfession.com
    website, application or other interactive service ("Site,"). "we," "us," or "our"). The
    Site is owned, operated, and/or provided by Team 1 ("we," "us," or "our).</p>

<h5>Terms of Use Agreement Agreement Highlights</h5>

<p>For your convenience, the following highlights provide a quick summary of our
    Terms of Use Agreement. Please read the entire Terms of Use Agreement for
    more detailed information, as the highlights are only intended as a quick summary
    and not as a full description of what the Terms of Use Agreement provided. If you
    have questions about this Terms of Use Agreement, please contact us via the 
    <a href="Contact">Contact Us</a> page.</p>

<h5>Terms of Use Agreement Scope;Eligibility;Additional Terms</h5>

<p>This Terms of Use Agreement describes your rights and responsibilities relating
    to the Site that provides an authorized link to this Terms of Use Agreement and
    is a legally binding agreement between you, on the one hand, and Team 1, on the other
    hand. Additional terms that govern certain products or services (for example, rules
    of participation in cotests and sweepstakes and Site Guidelines) are also applicable
    if you participate in those products and/or services and are incorporated in these Terms
    of Use Agreement by reference.</p>

<p>There are age and other eligibility requirements for this Site. This Site is governed
    by and operated under U.S. law.</p>


