@model SE1_Project.Models.Professional

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Professional</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="fName" class="control-label"></label>
                <input asp-for="fName" class="form-control" />
                <span asp-validation-for="fName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="lName" class="control-label"></label>
                <input asp-for="lName" class="form-control" />
                <span asp-validation-for="lName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="streetAddress" class="control-label"></label>
                <input asp-for="streetAddress" class="form-control" />
                <span asp-validation-for="streetAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="city" class="control-label"></label>
                <input asp-for="city" class="form-control" />
                <span asp-validation-for="city" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="state" class="control-label"></label>
                <input asp-for="state" class="form-control" />
                <span asp-validation-for="state" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="phoneNumber" class="control-label"></label>
                <input asp-for="phoneNumber" class="form-control" />
                <span asp-validation-for="phoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="email" class="control-label"></label>
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="profession" class="control-label"></label>
                <input asp-for="profession" class="form-control" />
                <span asp-validation-for="profession" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="rate" class="control-label"></label>
                <input asp-for="rate" class="form-control" />
                <span asp-validation-for="rate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="averageRating" class="control-label"></label>
                <input asp-for="averageRating" class="form-control" />
                <span asp-validation-for="averageRating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="company" class="control-label"></label>
                <input asp-for="company" class="form-control" />
                <span asp-validation-for="company" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="image" class="control-label"></label>
                <input asp-for="image" class="form-control" />
                <span asp-validation-for="image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
