@using SE1_Project.Models.ViewModels
@model Professional_Details_ViewModel;
@{
    ViewData["Title"] = "getSpecificUserDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>getSpecificUserDetails</h1>

@Html.DisplayNameFor(i => i.Email);